div#toolbar 	{	
	margin: auto;
	padding: 0;
	background: buttonface; 
	border-top: 1px solid buttonhighlight;
	border-left: 1px solid buttonhighlight;
	border-bottom: 1px solid buttonshadow;
	border-right: 1px solid buttonshadow;
	text-align:left;
}
			
.button 	{
	background: buttonface; 
	border: 1px solid buttonface;
	margin: 1; 
}
			
.raised	{ 
	border-top: 1px solid buttonhighlight;
	border-left: 1px solid buttonhighlight;
	border-bottom: 1px solid buttonshadow;
	border-right: 1px solid buttonshadow;
	background: buttonface;
	margin: 1;
}
			
.pressed {
	border-top: 1px solid buttonshadow;
	border-left: 1px solid buttonshadow;
	border-bottom: 1px solid buttonhighlight;
	border-right: 1px solid buttonhighlight;
	background: buttonface;
	margin: 1;
}
